body {
  background-color: #d1d9d9;
}

/* Top_section */
.container-fluid {
  padding: 3% 10%;
}

.top-section {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Kalam', cursive;
}

.top-section:hover {
  color: #962d2d;
}

.header {
  display: inline-block;
  font-size: 100px;
}

.penImage {
  display: inline-block;
}

/* Navigation-Bar */
.navbar {
  background-color: #fff8d9;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand {
  font-family: 'Kalam', cursive;
  font-size: 40px;
  font-weight: bold;
}

/* images */
.images-section {
  padding: 3% 1%;
}

.top-img-1{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50px;
  transform: rotate(30deg)
}

.top-img-2{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50px;
  transform: rotate(-30deg)
}

.middle-img-1{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50px;
  transform: rotate(20deg)
}

.middle-img-2{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50px;
  transform: rotate(-20deg)
}

/* Context */
#context-section {
  padding: 1% 5%;
  background-color: #ffffff;
}

h3 {
  font-family: Merriweather, cursive;
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
}

.h4poem {
  font-weight: bolder;
  font-family: 'Kalam', cursive;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  color: #ba135d;
}

.poem {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.poem-text {
  padding-top: 5%;
}

/* Articles-Section */
#Articles {
  padding: 1% 5%;
  background-color: #ff96ad;
  margin-bottom: 3%;
}


.coursel-css {
  margin: 5% auto 0 auto;
}

.h4article{
  font-family: 'Kalam', cursive;
  font-size: 30px;
  font-style: italic;
  text-align: left;
  text-decoration: underline;
  color: #962d2d;
}

.Articles-text {
  padding: 10px;
  text-align: justify;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

/* Qoutes Section */
#Quotes{
  padding: 2% 5%;
  background-color: #e9896a;
  margin-bottom: 3%;
}

.mycards{
  padding: 2% 1%;
}

.Quotes-images{
  width: 350px;
  height: 350px;
}
