body{
  background-color: #d1d9d9;
}

.container-fluid{
  padding: 3% 10%;
}
/* Navigation-Bar */
.navbar{
  background-color: #fff8d9;
}

.nav-link{
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand{
  font-family: 'Kalam',cursive;
  font-size: 30px;
  font-weight: bold;
}

.header{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Kalam', cursive;
}

.sub-header1{
  display: inline-block;
  font-size: 100px;
}

.sub-header2{
  display: inline-block;
}

/* images */

.img2{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  transform: rotate(20deg)
}
.img1{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  transform: rotate(20deg)
}

/* Context */
.context-section{
  padding: 1% 5%;
}

.poem{
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
